<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startup Predictor | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Startup Success Predictor</h1>
        <p>Analyze viability with Machine Learning.</p>
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <a href="/predict_page"><button class="btn">Go to Predictor</button></a>
            <a href="/analysis"><button class="btn" style="background-color: #3498db;">View Data Analysis</button></a>
        </div>
    </div>
</body>
</html>